{% extends "base.html" %}
{% block quote %}
<div style="background-image: url('static/blog4.jpg');"
    class="bg-no-repeat bg-cover h-[586px]  mt-[-5.2rem]">

</div>

<!-- Quote Section -->

<div class="flex justify-start items-center">
    <div
        class="flex flex-col mt-[-40rem]  mx-4 text-white items-center  text-justify w-1/2 ">

        <div
            style="font-family: 'Times New Roman', Times, serif"
            class="text-5xl text-center">
            QuillBlog
        </div>
        <p style="font-family: 'Sevillana', cursive;"
            class="text-3xl mt-3">
            "Embark on the timeless journey where words
            become adventures, and every stroke of the quill is
            a step
            into the vast landscape of imagination. Welcome to
            <span
                style="font-family: 'Times New Roman', Times, serif;"
                class="font-bold text-2xl">QuillQuest</span> –
            where the
            quest for eloquence unfolds, and stories are penned
            with the
            ink of inspiration."</p>
    </div>
</div>
<!-- Quote Section End-->

<!-- Blog Card Section -->

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
            class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-black dark:text-black">Our
            Blog</h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">We use
            an agile approach to test assumptions and connect with the needs of
            your audience early and often.</p>
    </div>
    <!-- Grid -->

    <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
        {% for post in posts %}
        <!-- Card -->
        <a
            class="group rounded-xl overflow-hidden dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            href="/post/{{post.slug}} ">
            <div class="sm:flex">
                <div
                    class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44">
                    {% set fname = post.img_file %}
                    <img
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 start-0 object-cover rounded-xl"
                        src="{{url_for('static',filename=fname)}}"
                        alt="Image Description">
                </div>

                <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                    <h3
                        class="text-xl font-semibold text-gray-800 group-hover:text-black dark:text-gray-300 dark:group-hover:text-black">
                        {{post.Title}}
                    </h3>
                    <p class="mt-3 text-gray-600 dark:text-gray-400">
                        {{post.sub_title}}
                    </p>
                    <p
                        class="mt-4 inline-flex items-center gap-x-1 text-blue-600 decoration-2 hover:underline font-medium">
                        Read more
                        <svg class="flex-shrink-0 w-4 h-4"
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"><path
                                d="m9 18 6-6-6-6" /></svg>
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
        <!-- End Card -->

    </div>
    <!-- End Grid -->
</div>
<!-- Blog Card Section End -->
<div class="flex mt-10 justify-center space-x-56 mb-3">
    <!-- Previous Button -->
    <a href="{{prev}}"
        class="flex items-center justify-center px-5 h-10 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-400 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg>
        Previous
    </a>
    <a href="{{next}}"
        class="flex items-center justify-center px-5 h-10 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-400 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-white">
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
    </a>
</div>
{% endblock %}
