<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap"
      rel="stylesheet">
    <title>Admin Panel</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash" class="mt-12 mx-4 px-4 rounded-md border-l-4 border-red-500 bg-red-50 md:max-w-2xl md:mx-auto">
      <div class="flex justify-between py-3">
        <div class="flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20"
              fill="currentColor">
              <path fillRule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                clipRule="evenodd" />
            </svg>
          </div>
          <div class="self-center ml-3">
            <span class="text-red-600 font-semibold">
              Error
            </span>
            <p class="text-red-600 mt-1">
              Sorry something wrong happened, please enter a correct email.
            </p>
          </div>
        </div>
        <button onclick="document.getElementById('flash').style.display='none'" class="self-start text-red-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fillRule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clipRule="evenodd" />
          </svg>
        </button>
      </div>
    </div>

    {% endif %}
    {% endwith %}
    <main
      class="w-full  flex flex-col items-center justify-center bg-gray-50 sm:px-4">
      <div class="w-full space-y-6 text-gray-600 sm:max-w-md">
        <div class="text-center">

          <div class="mt-5 space-y-2">
            <h3 class="text-gray-800 text-2xl font-bold sm:text-3xl">
              Log in to your account
            </h3>
            <p class>
              Don't have an account?
              <a
                href="javascript:void(0)"
                class="font-medium text-indigo-600 hover:text-indigo-500">Sign
                up</a>
            </p>
          </div>
        </div>
        <div class="bg-white shadow p-4 py-6 space-y-8 sm:p-6 sm:rounded-lg">
          <div class="grid grid-cols-2 gap-x-3">
            <button
              class="flex items-center justify-center py-2.5 border rounded-lg hover:bg-gray-300 duration-150 active:bg-gray-100">
              <!-- Comment: Google Icon SVG here -->
              <img
                src="https://raw.githubusercontent.com/sidiDev/remote-assets/7cd06bf1d8859c578c2efbfda2c68bd6bedc66d8/google-icon.svg"
                alt="Google"
                class="w-5 h-5" />
            </button>

            <button
              class="flex  items-center justify-center py-2.5 border rounded-lg hover:bg-gray-300 duration-150 active:bg-gray-100">
              <!-- Comment: GitHub Icon SVG here -->
              <img
                src="https://raw.githubusercontent.com/sidiDev/remote-assets/0d3b55a09c6bb8155ca19f43283dc6d88ff88bf5/github-icon.svg"
                alt="Github"
                class="w-5 h-5" />
            </button>
          </div>
          <div class="relative">
            <span class="block w-full h-px bg-gray-300"></span>
            <p
              class="inline-block w-fit text-sm bg-white px-2 absolute -top-2 inset-x-0 mx-auto">
              Or continue with
            </p>
          </div>
          <form  class="space-y-5"
            action="/dashboard " method="POST">
            <div>
              <label class="font-medium">UserName</label>
              <input
                type="text"
                name="uname"
                required
                class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-indigo-600 shadow-sm rounded-lg" />
            </div>
            <div>
              <label class="font-medium">Password</label>
              <input
                type="password"
                name="password"
                required
                class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-indigo-600 shadow-sm rounded-lg" />
            </div>
            <button type="submit"
              class="w-full justify-center  text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Login
            </button>
            <div class="text-end">
              <a href="javascript:void(0)" class="hover:text-indigo-600">Forgot
                password?</a>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <footer class="w-full max-w-[85rem] bg-gray-50 px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="text-center">
      <div>
        <a
          class="flex-none text-xl font-semibold text-black dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          href="#" aria-label="Brand">Brand</a>
      </div>
      <!-- End Col -->

      <div class="mb-4">
        <p class="text-gray-500">We're part of the <a
            class="font-semibold text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-400"
            href="#">{{params['blog_name']}}</a> family.</p>
        <p class="text-gray-500">© {{params['blog_name']}}. 2024. All rights
          reserved.</p>
      </div>

    </div>
    <!-- End Grid -->
  </footer>
</html>