{% extends 'base.html' %}
{% block post %}
<!-- Blog Card Section -->
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white text-black antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article
            class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">

                <h1
                    class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-black">
                    {{post.Title}} </h1>
            </header>
            <p class="lead text-justify "> {{post.Content}} </p>
            <div class="">
                {% set fname = post.img_file %}
                <img class="mt-4 rounded-md"
                    src="{{url_for('static', filename = fname)}}"
                    alt>
                <figcaption>Digital art by Anonymous</figcaption>
            </div>

        </article>
    </div>
</main>

<!-- Blog Card Section End -->
{% endblock post %}